.hero-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.729),
            rgba(0, 0, 0, 0.729)
        ),
        url('../../images/hero.jpg') no-repeat center center/cover;
    width: 100%;
    min-height: 94.4vh;
    overflow: hidden;
}

.hero-header {
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    width: 500px;
}

@media (max-width: 768px) {
    .hero-header {
        color: #fff;
        font-size: 30px;
        width: 300px;
    }
}
