.about-p1 {
    font-size: 80px;
    font-weight: 700;
}

.col-container {
    display: flex;
    align-items: center;
}

.col-container-f {
    display: flex;
    justify-content: center;
}

.about-container {
    margin: 50px auto;
}

.whitespace {
    margin-top: 80px;
}

.orlando,
.about,
.about2,
.about3 {
    width: 500px;
    border-radius: 8px;
}

.about4 {
    width: 1000px;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .orlando,
    .about,
    .about2,
    .about3 {
        max-width: 345px;
        margin-bottom: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .about4 {
        max-width: 345px;
    }

    .about-hr {
        border: 0.5px solid #eee;
    }

    .whitespace {
        margin-top: 40px;
    }
}
