.contact-container {
    background: #000;
    color: #fff;
    height: 400px;
    width: 100%;
}

.inner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
}

.column-1 p {
    text-align: left;
}

.social-link {
    display: block;
    color: #fff;
    text-decoration: none;
    transition: all 0.4s ease;
}

.social-link:hover {
    opacity: 0.6;
    color: #fff;
    text-decoration: none;
}

.bottom-inner-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-inner-container p {
    font-size: 14px;
    font-weight: 300;
}
