.navbar {
    background: #000;
    transition: ease-in 0.4s;
}

.nav-link {
    color: #fff !important;
    text-decoration: none;
    transition: all 0.4s ease-in-out !important;
    opacity: 0.6 !important;
}

.nav-link:hover {
    color: #fff !important;
    opacity: 1 !important;
}

.navbar-brand {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.navbar-brand:hover {
    color: #fff !important;
    opacity: 1 !important;
}

.light {
    font-weight: 300;
}

.navbar-toggler-icon {
    color: #fff !important;
}
