.nav-link {
    color: rgb(139, 138, 138) !important;
    text-decoration: none;
    transition: all 0.4s ease-in-out !important;
    opacity: 0.6 !important;
}

.nav-link:hover {
    color: #000 !important;
    opacity: 1 !important;
}

.navbar-brand {
    color: rgb(0, 0, 0) !important;
    text-decoration: none;
    font-weight: 600;
}

.light {
    font-weight: 300;
}

.navbar-toggler-icon {
    color: #000 !important;
}
