body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Source Serif Pro', serif !important;
}

::-webkit-scrollbar {
    display: none;
}
